@tailwind base;
@tailwind components;
@tailwind utilities;




.z99 {
    z-index: 9999999999
}


/* BG_IMAGE */
.bg-banner {
    background-image: url("/image/buyCover.36ede2d6.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    height: 520px;
    height: 520px;
}

/* For tablets and smaller screens */
@media (max-width: 1208px) {
    .bg-banner {
        height: 400px;
        background-size: cover;

    }
}

/* For mobile phones */
@media (max-width: 480px) {
    .bg-banner {
        height: 300px;
    }
}