@tailwind base;
@tailwind components;
@tailwind utilities;




.z99 {
    z-index: 9999999999
}

/* BG_IMAGE */
.bg-banner {
    background-image: url("/image/buyCover.36ede2d6.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    /* Center the image */
    height: 520px;
}

/* For tablets and smaller screens */
@media (max-width: 1208px) {
    .bg-banner {
        height: 400px;
        background-position: right;
        /* Center the image */
    }
}

@media (max-width: 800px) {
    .bg-banner {
        height: 400px;
        background-position: center;
        /* Center the image */
    }
}

/* For mobile phones */
@media (max-width: 480px) {
    .bg-banner {
        height: 300px;
        background-position: center;
        /* Center the image */
    }
}

/* For very small screens (optional) */
@media (max-width: 320px) {
    .bg-banner {
        height: 250px;
        /* Adjust height for very small screens if needed */
    }
}



/* carousel button */
.react-multiple-carousel__arrow--left {
    left: 0px!important;
}
.react-multiple-carousel__arrow--left:hover {
    background: #5e23dc !important;
}

.react-multiple-carousel__arrow--right{
    right: 0px!important;
    
    
}
.react-multiple-carousel__arrow--right:hover {
    background: #5e23dc !important;
}

.react-multiple-carousel__arrow {
    background: #5e23dc3b !important;
    top: 0;
}